.container-footer-div {
  height: 100px;
  background: linear-gradient(
    to right top,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.7)
  );
}

.container-footer {
  height: 100%;
  width: 100%;
  padding-left: 30px;
}

.container-footer h2 {
  color: #f1dfd1 !important;
  padding-top: 10px;
}

.developer-name {
  pointer-events: all;
  cursor: pointer;
}
