.container-header-div {
  height: 100px;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-header {
  height: 40px;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0px;
}

.clubname {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.club-title {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.club-title span {
  font-size: 30px;
}

.es {
  color: #005787;
}

.club {
  color: #00aced;
}

.b {
  color: #005787;
}

.logo {
  height: 80px;
  width: 80px;
  z-index: 3;
}

.logo-container {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container img {
  height: 60px;
  width: 100px;
}
