.main-div {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: fill;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.3)),
    url(./assets/V_Ep_03_REFLECTION_Article-Header.jpeg);
  background-position: center;
}
